<%-include('../tem/main.ejs')%>
    <body>
   <%-include('../tem/nav.ejs')%>
   <div style="margin-top: 20%; margin-left: 30%;">
        <h1>this all about my self</h1>
        <h2>please download our app</h2>
        <a href="/app">download</a>
    </div>
    </body>
</html>