<%-include('../tem/main.ejs')%>
    <body>
        <%-include('../tem/nav.ejs')%>
        <div style="margin-top: 20%; margin-left: 30%;">
        <h1>this all this all about homepage of muzayen adem</h1>
        </div>
    </body>
</html>