<%-include('../tem/main.ejs')%>
    <body>
      <%-include('../tem/nav.ejs')%>
      <div style="margin-top: 20%; margin-left: 30%;">
      <form>
        <p>may be one day</p>
        <input type="text" name="cityN" id="">
        <button type="submit">SEE THE RESULT</button>
      </form>
    </div>
    </body>
</html>