
<div style="background-color: rgb(243, 24, 24); margin: 0%; display: flex;flex-wrap: wrap; padding-top: 8px; padding-bottom: 8px; width: 100%; ">
<a style=" text-decoration: none;font-weight: 700; margin-left: 80px;  color: rgb(255, 255, 255);" href="/">HOME</a>
<a  style=" text-decoration: none;font-weight: 700; margin-left: 80px;  color: rgb(255, 255, 255);"  href="/about">ABOUT US</a>
<a  style=" text-decoration: none;font-weight: 700; margin-left: 80px; color: rgb(255, 255, 255);"  href="/contact">CONTACT US</a>
<a  style=" text-decoration: none;font-weight: 700; margin-left: 80px;  color: rgb(255, 255, 255);"  href="/login">LOGIN</a>
<a  style=" text-decoration: none;font-weight: 700; margin-left: 80px;  color: rgb(255, 255, 255);"  href="/product">PRODUCT</a>
</div>